@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --clr-primary: #ff1919;
  --clr-foreground: #d1cdc8;
  --clr-background: #0d0f10;
}

body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  background-color: var(--clr-background);
  color: var(--clr-foreground);
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20vw;
  padding: 0;
  margin: 0;
}

h1 span {
  margin: -2dvh 0;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

.countdown {
  color: var(--clr-primary);
  transition: 4s;
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
}

.red {
  color: var(--clr-primary);
}

.end {
  opacity: 0%;
  background-image: url('https://i.giphy.com/media/12BsLpSspuwW1q/giphy.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 100vw;

  transition: 10s;
  -webkit-transition: 10s;
  -moz-transition: 10s;
  -ms-transition: 10s;
  -o-transition: 10s;
}

@media screen and (max-width: 768px) {
  h1 {
    flex-direction: column;
    font-size: 44vw;
  }

  .split {
    display: none;
  }

  .end {
    background-size: 100vh 100vh;
  }
}
